@theme {
  /* --font-sans: "FONTNAME", sans-serif;
  --font-heading: "FONTNAME", sans-serif; */

  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 103.5rem;

  /* --color-COLORNAME: ''; */
}
